.nav {
    margin:0;
    background-color: #333;
    color: #fff;
}
.yugi-logo{
    align-items: flex-end;
}
.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

nav li {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

/* Style for footer*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
#logo{
    padding: 30px;
}
.footer-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
  }
  .footer-links img {
    width: 30px;
  }

/* styling the main page paragraph and video*/

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.video-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 20px;
}
.video {
    padding: 20px;
}
.video video {
    width: 100%;
}

.details {
    background-color: #fff;
    padding: 20px;
}

/* styling for yu gi oh cards*/

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    list-style: none;
    padding: 0;
  }

  .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }


