nav {
    margin:0;
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

nav li {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

/* Style for footer*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
#logo{
    padding: 30px;
}

/* styling the main page paragraph and video*/

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}
