body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  overflow-x: hidden;
}


.video-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 20px;

  box-sizing: border-box;
}

.video,
.details {
  padding: 20px;
 
  box-sizing: border-box;
}

.video video {
  width: 100%;
  /* Prevent video from exceeding its container */
  max-width: 100%;
  height: auto; 
}

.details {
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .video-grid {
    grid-template-columns: 100%;
    margin: 0; 
  }

  .video,
  .details {
    padding: 10px; 
  }

  
  .card-grid {
    grid-template-columns: 100%;
  }
}
